:root {
   --theme-base: "black-highlighter";
   --theme-id: "dark-liminal";
   --theme-name: "Dark Liminal Theme";
 
   --body-font: proxima-nova, sans-serif;
   --header-font: 'Fantasque Sans Mono', monospace;
   --title-font: 'Fantasque Sans Mono', monospace;
   --mono-font: 'Fantasque Sans Mono', monospace;
 
   --white-monochrome: 18, 22, 32;
   --pale-gray-monochrome: 0, 4, 15;
   --light-gray-monochrome: 95, 95, 95;
   --gray-monochrome: 183, 186, 195;
   --black-monochrome: 230, 235, 239;
   --bright-accent: 115, 119, 129;
   --medium-accent: 183, 186, 195;
   --dark-accent: 115, 119, 129;
   --pale-accent: 115, 119, 129;
   --dark-gray-monochrome: 207, 207, 203;
   --light-pale-gray-monochrome: 11, 11, 11;
   --very-light-gray-monochrome: 40, 40, 40;

   --gradient-header: linear-gradient(to top,
      rgba(var(--pale-gray-monochrome)) 0%,
      rgba(var(--pale-gray-monochrome), 0.20) 100%
   );

   --swatch-headerh1-color: var(--black-monochrome);
   --swatch-headerh2-color: var(--black-monochrome);
   --swatch-topmenu-border-color: var(--pale-gray-monochrome);
   --swatch-topmenu-bg-color: var(--pale-gray-monochrome);
    
   --link-color: 230, 23, 68;
   --hover-link-color: 230, 23, 68;
 
   --background-gradient-distance: 0rem;
 
   --diagonal-stripes: linear-gradient(transparent 0);
}
 
#skrollr-body {
   background-image:
    radial-gradient(circle, rgb(var(--pale-gray-monochrome)) 50%, transparent 0);
   background-repeat: repeat;
   background-size: 0.25em 0.25em;
   width: 100%;
   height: 10rem;
}
 
#side-bar .side-block div a img {
   filter: grayscale(100%);
}
 
div#page-options-bottom-2 > a, div#page-options-bottom > a {
   border-radius: 0em;
   -moz-border-radius: 0em;
   border: none;
}
 
div#page-options-bottom-2 > a:active, div#page-options-bottom-2 > a:hover, div#page-options-bottom > a:active, div#page-options-bottom > a:hover {
   border: none;
}
 
#header, #top-bar {
   background-attachment: scroll;
}
 
#header {
   background-image: none;
}
 
#header h1 a::before, #header h2 span::before {
   text-shadow: .063rem 0.1rem 0.1rem #0c0c0c;
}

#footer{
   color: rgb(var(--pale-gray-monochrome));
}
 
a.newpage {
   background: transparent;
   text-decoration: none
}
 
a.newpage {
   color: rgb(var(--newpage-color))
}

#search-top-box-input:hover,
#search-top-box-input:focus {
    background: rgba(var(--medium-accent), .25);
}

#top-bar div.top-bar > ul > li > a,
#top-bar div.mobile-top-bar > ul > li > a {
   color: rgb(var(--black-monochrome));
}

#top-bar div.top-bar > ul > li > a:hover,
#top-bar div.mobile-top-bar > ul > li > a:hover {
    color: rgb(--pale-gray-monochrome));
}
 
#top-bar div.top-bar > ul > li:hover > a,
#top-bar div.mobile-top-bar > ul > li:hover > a {
    color: rgb(var(--pale-gray-monochrome));
}

#login-status {
    color: rgb(var(--black-monochrome));
}

#login-status a {
    color: rgb(var(--black-monochrome));
}

#login-status ul a {
    color: rgb(var(--pale-gray-monochrome));
}

#account-topbutton {
    color: rgb(var(--black-monochrome));
}

table.wiki-content-table th {
background-color: rgb(var(--pale-gray-monochrome)) !important;
color: rgb(var(--black-monochrome));
border-color: rgb(var(--black-monochrome));
}

.scp-image-block {
   box-shadow: 0 0.2rem 0.3rem rgba(0,0,0,.25);
}
 
blockquote,
div.blockquote {
   box-shadow: 0 0.2rem 0.3rem rgba(0,0,0,.25);
}
 
.styled-quote {
   background-color:rgb(var(--pale-gray-monochrome));
   border-left: 0.5rem solid rgba(var(--gray-monochrome));
   padding: 0.1rem 1rem;
   margin: 0.5rem 0 0.5rem 0;
   box-shadow: 0 0.2rem 0.3rem rgba(0,0,0,.25);
}
 
.dark-styled-quote {
   background-color:rgb(var(--gray-monochrome));
   border-left: 0.5rem solid rgba(var(--pale-gray-monochrome));
   color:rgb(var(--white-monochrome));
   padding: 0.1rem 1rem;
   margin: 0.5rem 0 0.5rem 0;
   box-shadow: 0 0.2rem 0.3rem rgba(0,0,0,.25);
}
 
.dark-styled-quote a{
color: rgb(var(--swatch-menubg-medium-color));
}
 
.darkblock {
   background-color:rgb(var(--white-monochrome));
   padding: 0.01rem 1rem;
   margin: 0.5rem 0 0.5rem 0;
   box-shadow: 0 0.2rem 0.3rem rgba(0,0,0,.25);
   color: rgb(var(--black-monochrome));
}
 
.lightblock {
   background-color:rgb(var(--gray-monochrome));
   color:rgb(var(--white-monochrome));
   padding: 0.01rem 1rem;
   margin: 0.5rem 0 0.5rem 0;
   box-shadow: 0 0.2rem 0.3rem rgba(0,0,0,.25);
}

.darkerblock {
   background-color:rgb(var(--pale-gray-monochrome));
   padding: 0.01rem 1rem;
   margin: 0.5rem 0 0.5rem 0;
   box-shadow: 0 0.2rem 0.3rem rgba(0,0,0,.25);
   color: rgb(var(--black-monochrome));
}
 
.darkblock a {
color: rgb(var(--swatch-menubg-medium-color));
}
